<html>
<head>
	<title>FreeFlow game</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
	var GameApplication = angular.module('GameApp', []);
	
	GameApplication.controller("InitController", function($scope, $sce){
		$scope.isUserTableReady = 0;
		$scope.isColorDotsReady = 0;
		
		$scope.colorBoxes = ['red', 'yellow', 'blue'];
		//Mouse operation
		$scope.isPressed = 0;	
		$scope.firstCellBkColor = "";
		$scope.pathTraversed = [];
		$scope.prevBkColor = "";
		$scope.defaultBkColor = "white";
		$scope.userPlayAreaContent = '';
		$scope.myDim = 0;
		$scope.convasdimension = [			  
			  {name:'3x3', id:3},
			  {name:'4x4', id:4},
			  {name:'5x5', id:5},		  
		];
						
		$scope.colorDotLocations = [
		  [
			["red", 1, 16, 11, 16, 21, 22],
			["green", 3, 2, 7, 12, 17],
			["yellow", 5, 4, 9, 14, 19],
			["blue", 8, 13, 18, 27],
			["orange", 10, 15, 20, 25, 24]
		  ]
		];
		
		$scope.drawColoredDots = function(){			
			//if table drawn completed then only start putting the dots.
			if($scope.isUserTableReady){
				console.log('D1 : drawing color dots started');
				var i, j, cellColor, innerLen, innerMostLen, cellID, tempElem, len = ($scope.colorDotLocations).length;
				
				for(i=0;i<len;i++){
					innerLen = $scope.colorDotLocations[i].length;
					for(j=0;j<innerLen;j++){						
						//Find out color for first & last cell
						innerMostLen = ($scope.colorDotLocations[i][j]).length;
						cellColor = $scope.colorDotLocations[i][j][0];
																	
						cellID = "#cell" + $scope.colorDotLocations[i][j][1];							
						tempElem = angular.element(document.querySelector(cellID));
						tempElem.addClass(cellColor);											
						cellID = "#cell" + $scope.colorDotLocations[i][j][innerMostLen-1];																																						
						tempElem = angular.element(document.querySelector(cellID));
						tempElem.addClass(cellColor);						
					}
				}
				$scope.isColorDotsReady = 1;	
			}
		}	
		
		/* It will used in case of undo the user selection */
		$scope.rollBackCellColor = function(){
			var i, cellID, tempElem, len = ($scope.pathTraversed).length;
			for(i=1;i<len;i++){							
				cellID = "#" + $scope.pathTraversed[i];																				
				tempElem = angular.element(document.querySelector(cellID));
				tempElem.removeClass($scope.firstCellBkColor);
			}			
		};
		
		/* Draw the user play convas */	  			  
		$scope.drawTable = function(){			
			var divs = '', counter = 1, i, j, dim;
			dim = $scope.myDim;			
									
			for(i=0;i<dim;i++){
				divs += '<div class="row">'
				for(j=0;j<dim;j++){
					divs += '<div class="cell" id="cell'+(counter++)+'"></div>';
				}					
				divs += '</div>';	
			}	
			
			$scope.userPlayAreaContent = $sce.trustAsHtml(divs);				
			$scope.isUserTableReady = 1;						
			console.log('Table drawing activity completed.');
		}			
	});
	
	GameApplication.directive('userConvasArea', function($compile){
			return function(scope, elem, attrs){
				
				var html = '', counter = 1, i, j, dim;
				//dim = $scope.myDim;			
				dim = 5;			
										
				for(i=0;i<dim;i++){
					html += '<div class="row">'
					for(j=0;j<dim;j++){
						html += '<div class="cell" id="cell'+(counter++)+'"></div>';
					}					
					html += '</div>';	
				}	
				console.log('html ; ' + html);
				//create an angular element. (this is still our "view")
				var el = angular.element(html);
				elem.append(el);
				//compiled(scope);				
				//$scope.userPlayAreaContent = $sce.trustAsHtml(divs);	
			};
	});
	
	GameApplication.directive('cell', function() {
		  return {
			restrict: 'C',			
			link: function(scope, elem, attrs) {
			  elem.on('click', function(){
				  alert('welcome');  
			  });
			  			  
			  elem.on('mousedown', function() {
				//Basic initialization	
				scope.isPressed = 1; 	
				scope.pathTraversed = [];			
				
				var classNames = (elem.attr('class')).split(" ");
				scope.firstCellBkColor = classNames[1];			
				(scope.pathTraversed).push(attrs.id);
				console.log('Starting point is '+attrs.id);			
			  });
			  
			  elem.bind('mouseover', function() {
				if(scope.isPressed){
					//Finding the current startCellBkColor & assigning it to global varible called prevBkColor
					var classNames = (elem.attr('class')).split(" ");					
					if(classNames.length == 1 && classNames[0] == "cell"){						
						scope.prevBkColor = classNames[1] = "white";	
					}else{						
						scope.prevBkColor = classNames[1];													
					}				
					
					//Check - if current startCellBkColor is different from startCellBkColor or white means its trying to overlap & we need to stop it & try to rollback the cells
					if(scope.prevBkColor != scope.defaultBkColor && scope.prevBkColor != scope.firstCellBkColor){
						console.log('Colored cell overlapping issue - terminating it');
						scope.rollBackCellColor();
						scope.isPressed = 0;					
						return;
					}	
					//Assigning the back ground color
					elem.addClass(scope.firstCellBkColor);	
					(scope.pathTraversed).push(attrs.id);					
				}				
			  });
			  
			  elem.bind('mouseup', function(){
				if(scope.isPressed){
					var i=0, 
						cellID,	tempElem, classNames, 
						len = (scope.pathTraversed).length;
					scope.isPressed = 0;					
					classNames = (elem.attr('class')).split(" ");
					console.log('First cell BkColor: '+scope.firstCellBkColor+ ' & current cell bkcolor : ' + classNames[1] + ' & prev Bkcolor:' + scope.prevBkColor);
					if(scope.firstCellBkColor != classNames[1]){						
						len--;
						for(i=1;i<len;i++){							
							cellID = "#" + scope.pathTraversed[i];																				
							tempElem = angular.element(document.querySelector(cellID));
							tempElem.removeClass(scope.firstCellBkColor);
						}
						console.log('d1: '+ scope.pathTraversed);
					}else{
						//If user release the mouse button in between
						if(scope.prevBkColor == scope.defaultBkColor){
							for(i=1;i<len;i++){							
								cellID = "#" + scope.pathTraversed[i];																				
								tempElem = angular.element(document.querySelector(cellID));
								tempElem.removeClass(scope.firstCellBkColor);
							}
							console.log('d2: ' + scope.pathTraversed);	
						}
					}									
					console.log('End point is '+attrs.id);					
				}  
				
			  });
			}
		  };
	});
	</script>
	<style>
		.cell{height: 100px; width: 100px; border: red 1px solid;float: left;}
		.red {background-color: red;}
		.yellow {background-color: yellow;}
		.blue {background-color: blue;}
		.green {background-color: green;}
		.orange {background-color: orange;}
		.row {clear: both;}
	</style>
</head>
<body>
<div ng-app='GameApp' ng-controller="InitController">
	Select the User convas dimension :
	<select ng-model="myDim" ng-change="drawTable()">
		<option ng-repeat="dimension in convasdimension" value="{{dimension.id}}">{{dimension.name}}</option>
	</select>
	
	<input ng-show="isUserTableReady" type="button" ng-click="drawColoredDots()" value="Populate the dots" />
	<user-convas-area></user-convas-area>
	
</div>
</body>
</html>
