<html>
<head>
	<title>FreeFlow game</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
	var GameApplication = angular.module('GameApp', []);
	
	GameApplication.controller("InitController", function($scope, $sce){
		$scope.isUserTableReady = 0;
		$scope.colorBoxes = ['red', 'yellow', 'blue'];
		//Mouse operation
		$scope.isPressed = 0;	
		$scope.firstCellBkColor = "";
		$scope.pathTraversed = [];
		$scope.prevBkColor = "";
		$scope.defaultBkColor = "white";
		$scope.userPlayAreaContent = '';
		$scope.myDim = 0;
		$scope.convasdimension = [			  
			  {name:'3x3', id:3},
			  {name:'4x4', id:4},
			  {name:'5x5', id:5},		  
		];
		
		$scope.colorCode = ["red", "green", "yellow", "blue", "orange"];
		
		$scope.colorLocations = [
			[1, 16, 11, 16, 21, 22],
			[3, 2, 7, 12, 17],
			[5, 4, 9, 14, 19],
			[8, 13, 18, 27],
			[10, 15, 20, 25, 24]
		];
		
		$scope.onChange = function(){
			$scope.drawTable();	
		}
		/* It will used in case of undo the user selection */
		$scope.rollBackCellColor = function(){
			var i, cellID, tempElem, len = ($scope.pathTraversed).length;
			for(i=1;i<len;i++){							
				cellID = "#" + $scope.pathTraversed[i];																				
				tempElem = angular.element(document.querySelector(cellID));
				tempElem.removeClass($scope.firstCellBkColor);
			}
			console.log('Called - rollBackCellColor');
			console.log('d3: ' + $scope.pathTraversed);	
		};
		
		/* Draw the user play convas */	  			  
		$scope.drawTable = function(){			
			var divs = '', counter = 1, i, j, dim;
			dim = $scope.myDim;
			console.log('Dim : ' + dim);
									
			for(i=0;i<dim;i++){
				divs += '<div class="row">'
				for(j=0;j<dim;j++){
					divs += '<div class="cell" id="cell'+(counter++)+'"></div>';
				}					
				divs += '</div>';	
			}	
			
			$scope.userPlayAreaContent = $sce.trustAsHtml(divs);	
			console.log('Table drawing activity completed.');
			$scope.isUserTableReady = 0;
			
		}
		
		$scope.drawColoredBoxes = function(){
			if($scope.isUserTableReady){
				console.log('Colored pairs are created on table.');
			}else{
				console.log('Table is not ready, hence droping the execution.');
			}			
		}
		
		$scope.init = function(){
			$scope.drawTable();
			$scope.drawColoredBoxes();	
		}
		
		
	});
	
	GameApplication.directive('userConvasArea', function(){
			return {	
				restrict: 'AE',
				template: '<div ng-bind-html="userPlayAreaContent"></div>',							
			};
	});
	
	GameApplication.directive('cell', function() {
		  return {
			restrict: 'C',			
			link: function(scope, elem, attrs) {
			  
			  
			  elem.bind('mousedown', function() {
				//Basic initialization	
				scope.isPressed = 1; 	
				scope.pathTraversed = [];			
				
				var classNames = (elem.attr('class')).split(" ");
				scope.firstCellBkColor = classNames[1];			
				(scope.pathTraversed).push(attrs.id);
				console.log('Starting point is '+attrs.id);			
			  });
			  
			  elem.bind('mouseover', function() {
				if(scope.isPressed){
					//Finding the current startCellBkColor & assigning it to global varible called prevBkColor
					var classNames = (elem.attr('class')).split(" ");					
					if(classNames.length == 1 && classNames[0] == "cell"){						
						scope.prevBkColor = classNames[1] = "white";	
					}else{						
						scope.prevBkColor = classNames[1];													
					}				
					
					//Check - if current startCellBkColor is different from startCellBkColor or white means its trying to overlap & we need to stop it & try to rollback the cells
					console.log('startCellBkColor: '+scope.firstCellBkColor+ ' & current cell bkcolor : ' + classNames[1] + ' & prev Bkcolor:' + scope.prevBkColor);					
					if(scope.prevBkColor != scope.defaultBkColor && scope.prevBkColor != scope.firstCellBkColor){
						console.log('Colored cell overlapping issue - terminating it');
						scope.rollBackCellColor();
						scope.isPressed = 0;					
						return;
					}	
					//Assigning the back ground color
					elem.addClass(scope.firstCellBkColor);	
					(scope.pathTraversed).push(attrs.id);					
				}				
			  });
			  
			  elem.bind('mouseup', function(){
				if(scope.isPressed){
					var i=0, 
						cellID,	tempElem, classNames, 
						len = (scope.pathTraversed).length;
					scope.isPressed = 0;					
					classNames = (elem.attr('class')).split(" ");
					console.log('First cell BkColor: '+scope.firstCellBkColor+ ' & current cell bkcolor : ' + classNames[1] + ' & prev Bkcolor:' + scope.prevBkColor);
					if(scope.firstCellBkColor != classNames[1]){						
						len--;
						for(i=1;i<len;i++){							
							cellID = "#" + scope.pathTraversed[i];																				
							tempElem = angular.element(document.querySelector(cellID));
							tempElem.removeClass(scope.firstCellBkColor);
						}
						console.log('d1: '+ scope.pathTraversed);
					}else{
						//If user release the mouse button in between
						if(scope.prevBkColor == scope.defaultBkColor){
							for(i=1;i<len;i++){							
								cellID = "#" + scope.pathTraversed[i];																				
								tempElem = angular.element(document.querySelector(cellID));
								tempElem.removeClass(scope.firstCellBkColor);
							}
							console.log('d2: ' + scope.pathTraversed);	
						}
					}									
					console.log('End point is '+attrs.id);					
				}  
				
			  });
			}
		  };
	});
	</script>
	<style>
		.cell{height: 100px; width: 100px; border: red 1px solid;float: left;}
		.red {background-color: red;}
		.yellow {background-color: yellow;}
		.blue {background-color: blue;}
		.row {clear: both;}
	</style>
</head>
<body>
<div ng-app='GameApp' ng-controller="InitController" ng-init="init()">
	Select the User convas dimension :
	<select ng-model="myDim" ng-change="onChange()">
		<option ng-repeat="dimension in convasdimension" value="{{dimension.id}}">{{dimension.name}}</option>
	</select>
   
    <div ng-show="myDim != 0">
    <user-convas-area></user-convas-area>
	</div>	
</div>
</body>
</html>
